[Desktop Entry]
Name=Canaima
X-KDE-PluginInfo-Name=Canaima
X-KDE-PluginInfo-Author=Rebeca Ochoa
X-KDE-PluginInfo-Email=rochoa@cnti.gob.ve
X-KDE-PluginInfo-License=GPLv3+
